[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
